<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr></tr>
    <tr>
      <th>name</th>
      <th class="profile-name"><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th class="profile-introduction"><%= user.introduction %></th>
    </tr>
    <tr>
     <% user ||= current_user %>
      <div class="stats">
        <a href="<%= following_user_path(user) %>">
          <strong id="following" class="stat">
            <%= user.followings.count %>
          </strong>
          following
        </a>
        <a href="<%= followers_user_path(user) %>">
          <strong id="followers" class="stat">
            <%= user.followers.count %>
          </strong>
          followers
        </a>
      </div>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <%= link_to  edit_user_path(user.id) do %>
    <p class="btn btn-outline-secondary btn-block fas fa-user-cog "></p>
    <% end %>
  </div>