<%= render 'users/list', user: @user %>
<%= render 'books/list', book: @book %>


<h2>Books</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspsn="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= link_to book.title, "/books/#{book.id}" %></td>
          <td><%= book.body %></td>
        <% end %>
    </tbody>
</table>