<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<%= render 'users/list', user: @user %>
<%= render 'books/list', book: @book %>
<div>
  <h2>Book detail</h2>
  <table>
  	<tbody>
  	  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  	  <td><%= @user.name %></td>
  		<td><%= @booknew.title %></td>
  		<td><%= @booknew.body %></td>
  		<% if @user.id == current_user.id %>
  		<%= link_to "Edit", edit_book_path(@book) %>
  		<%= link_to "Destroy", book_path(@book), method: :delete, "date-confirm" => "本当に削除しますか？" %>
  		<% end %>
  	</tbody>
  </table>
</div>