<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user: @user %>
      <%= render 'books/list', book: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
      	<tbody id=<%="book_#{@book.id}"%>>
      	  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      	  <tr>
      	    <td><%= link_to @user.name, user_path(@user) %></td>
      		  <td><%= link_to @book.title, book_path(@book)%></td>
      		  <td><%= @book.body %></td>
      		  <td class="favorite-btn"><%= render "favorites/list", book: @book %></td>
      		  <td class="comments-count">コメント数: <%= @book.book_comments.count %></td>
      		  <% if @book.user == current_user %>
      		  <td><%= link_to "Edit", edit_book_path(@book) %></td>
      		  <td><%= link_to "Destroy", book_path(@book), method: :delete, "date-confirm" => "本当に削除しますか？" %></td>
      	  </tr>
      	  <% end %>
      	</tbody>
      </table>
      <div class="comments-count">
        <%= render 'book_comments/list', book: @book,book_comment: @book_comment%>
      </div>
      <%= form_with model: [@book, @book_comment] do |f| %>
      <%= f.text_area :comment, size:"90x5" %>
      <%= f.submit '送信'%>
      <% end %>
    </div>
  </div>
</div>