<%= render 'books/list', books: @book %>

<div>
  <h2>Book detail</h2>
  <table>
  	<tbody>
  	  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  		<td><%= @book.title %></td>
  		<td><%= @book.body %></td>
  		<%= link_to "Edit", edit_book_path(@book.id) %>
  		<%= link_to "Destroy", book_path(@book), method: :delete, "date-confirm" => "本当に削除しますか？" %>
  	</tbody>
  </table>
</div>